{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="well">
        <form role="form" method="post" action="/addWish">
            <!-- Form Name -->

            <P>Create Your Wish</P>
            <!-- Text input-->
            <div class="form-group">
                <label for="txtTitle">Title</label>

                <input id="txtTitle" name="inputTitle" type="text" placeholder="placeholder"
                       class="form-control input-md">

            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label for="txtPost">Description</label>

                <textarea class="form-control" id="txtPost" name="inputDescription"></textarea>

            </div>


            <div class="form-group">
                <label for="txtPost">Photos</label>

                <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <input type="file" id="fileupload" name="file" multiple>
                    </span>
                </span>
                    <div class="pull-right">
                        <img id="imgUpload" style="width: 140px; height: 140px;" class="img-thumbnail"><input
                            type="hidden" name="filePath" id="filePath"></input>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <label>Mark this as private and not visible to others.</label><br/>
                <input name="private" type="checkbox"> Mark as Private <span class="glyphicon glyphicon-lock"
                                                                             aria-hidden="true"></span>
            </div>

            <div class="form-group">
                <label>Have you already accomplished this?</label><br/>
                <input name="done" type="checkbox"> Mark as Done <span class="glyphicon glyphicon-ok"
                                                                       aria-hidden="true"></span>
            </div>


            <!-- Button -->
            <div class="form-group">

                <p class="text-center">
                    <input id="singlebutton" name="singlebutton" class="btn btn-primary" type="submit" value="Publish"/>
                </p>
            </div>


        </form>

    </div>


    <footer class="footer">

    </footer>

</div>
{% endblock %}

