<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class="login-container">
        <h2>Reset Password</h2>
        <form method="POST" class="login-form">
            {{ form.hidden_tag() }}
            <div class="input-group">
                {{ form.email(id="email", class="input-field", placeholder="Email") }}
            </div>
            <button type="submit" class="reset-btn">Reset Password</button>
        </form>
    </div>

</body>
</html>