<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Wish</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="../static/js/jquery-1.11.2.js"></script>
</head>

<body>
    <h1>Edit Wish</h1>
    <form id="editForm">
        <label for="editTitle">Title</label>
        <input id="editTitle" name="editTitle" type="text" value="{{ wish.title }}" required>

        <label for="editDescription">Description</label>
        <input id="editDescription" name="editDescription" type="text" value="{{ wish.description }}" required>

        <label for="editFilePath">File Path</label>
        <input id="editFilePath" name="editFilePath" type="text" value="{{ wish.file_path }}">

        <label for="editIsPrivate">Private</label>
        <input id="editIsPrivate" name="editIsPrivate" type="checkbox" {% if wish.is_private %}checked{% endif %}>

        <label for="editIsDone">Done</label>
        <input id="editIsDone" name="editIsDone" type="checkbox" {% if wish.is_done %}checked{% endif %}>

        <button type="submit">Update Wish</button>
    </form>

    <script>
        $(function() {
            $('#editForm').submit(function(e) {
                e.preventDefault();

                var formData = {
                    id: '{{ wish.id }}',
                    title: $('#editTitle').val(),
                    description: $('#editDescription').val(),
                    filePath: $('#editFilePath').val(),
                    isPrivate: $('#editIsPrivate').is(':checked') ? 1 : 0,
                    isDone: $('#editIsDone').is(':checked') ? 1 : 0
                };

                $.ajax({
                    url: '/updateWish',
                    type: 'POST',
                    data: formData,
                    success: function(res) {
                        alert('Wish updated successfully');
                        window.location.href = '/userHome'; // Redirect to userHome page after successful update
                    },
                    error: function(error) {
                        console.log(error);
                        alert('Error updating wish');
                    }
                });
            });
        });

    </script>

</body>
</html>