{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="well">
        <div class="row">
            <div class="col-md-12">
                <div class="panel-body">
                    <ul id="ulist" class="list-group">
                        <!-- Шаблон для отображения каждого виша -->
                        <li class="list-group-item">
                            <div class="d-flex align-items-center">
                                <img src="{{ file_path }}" alt="Product Icon" class="product-icon">
                                <div class="flex-grow-1">
                                    <h4 class="list-group-item-heading">{{ Title }}</h4>
                                    <p class="list-group-item-text">{{ Description }}</p>
                                </div>
                                <div>
                                    <button class="btn btn-warning btn-edit" data-id="{{ id }}">Редактировать</button>
                                    <button class="btn btn-danger btn-delete" data-id="{{ id }}">Удалить</button>
                                </div>
                            </div>
                        </li>

                    </ul>
                    <nav>
                        <ul class="pagination">
                            <!-- Ваша пагинация будет добавляться здесь -->
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <!-- Ваш подвал -->
    </footer>
</div>

<div class="modal-dialog" role="document">
    <div class="modal-content" id="editModal">
        <div class="modal-header">
            <h5 class="modal-title" id="editModalLabel">Редактирование виша</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form id="editForm">
                <div class="form-group">
                    <label for="editTitle">Заголовок:</label>
                    <input type="text" class="form-control" id="editTitle" name="editTitle" required>
                </div>
                <div class="form-group">
                    <label for="editDescription">Описание:</label>
                    <textarea class="form-control" id="editDescription" name="editDescription" required></textarea>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="editPrivate" name="editPrivate">
                    <label class="form-check-label" for="editPrivate">Приватность</label>
                </div>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="editDone" name="editDone">
                    <label class="form-check-label" for="editDone">Сделано</label>
                </div>
                <input type="hidden" id="editId" name="editId">
            </form>
        </div>
        <div class="modal-footer">

            <button type="button" class="btn btn-primary" id="btnSaveChanges">Сохранить изменения</button>
        </div>
    </div>
</div>


<input type="hidden" id="hdnStart" value="1"/>
<input type="hidden" id="hdnEnd" value="5"/>

</body>
<script>

    GetWishes(1);
    console.log(12121212)
    $("#editModal").hide()


    $(function () {

        /*       $('#fileupload').fileupload({
                   url: 'upload',
                   dataType: 'json',
                   add: function (e, data) {
                       data.submit();
                   },
                   success: function (response, status) {
                       console.log(response.filename);
                       var filePath = 'static/Uploads/' + response.filename;
                       $('#imgUpload').attr('src', filePath);
                       $('#filePath').val(filePath);
                       console.log('success');
                   },
                   error: function (error) {
                       console.log(error);
                   }
               });
       */

        /* $('document').on('click', '.navigation li a', function () {
             console.log('me in');
         });*/
    });
    $(document).on('click', '.btn-delete', function () {
        var wishId = $(this).data('id');

        $.ajax({
            url: "/deleteWish",
            method: 'POST',
            data: {id: wishId},  // Pass the wish_id as a parameter in the AJAX request
            success: function (response) {
                window.location.reload();
                console.log(response);
            },
            error: function (xhr, status, error) {
                // Handle the error response
                console.log(error);
            }
        });
    });

    $('.close').click(function () {
        $('#editModal').hide();
    });
    // Обработчик нажатия на кнопку "Редактировать"
    $(document).on('click', '.btn-edit', function () {
        console.log(1312313)
        // Получаем значения полей виша
        var id = $(this).data('id');
        console.log(id)
        var title = $(this).siblings('.list-group-item-heading').text();
        var description = $(this).siblings('.list-group-item-text').text();
        var is_private = $(this).siblings('.list-group-item-private').text();
        var is_done = $(this).siblings('.list-group-item-done').text();

        // Set the checkboxes in the modal window


        // Заполняем поля формы редактирования виша
        $('#editId').val(id);
        $('#editTitle').val(title);
        $('#editDescription').val(description);
        $('#editPrivate').prop('checked', is_private === 'true');
        $('#editDone').prop('checked', is_done === 'true');
        // Открываем модальное окно редактирования
        $('#editModal').show();
    });

    // Обработчик нажатия на кнопку "Сохранить изменения"
    $('#btnSaveChanges').click(function () {
        // Получаем значения из полей формы редактирования виша
        var id = $('#editId').val();
        var title = $('#editTitle').val();
        var description = $('#editDescription').val();
        var is_private = $('#editPrivate').is(':checked');
        var is_done = $('#editDone').is(':checked');
        // Отправляем данные на сервер
        $.ajax({
            url: '/updateWish',
            method: 'POST',
            data: {
                id: id,
                title: title,
                description: description,
                is_private: is_private,
                is_done: is_done
            },
            success: function (response) {
                $('#editModal').hide();
                window.location.reload();
            },
            error: function () {
                console.log('error')
            }
        });

        // Закрываем модальное окно редактирования
    });


    function GetWishes(_page) {
        var _offset = (_page - 1) * 2;
        $.ajax({
            url: '/getWish',
            type: 'GET',
            data: {offset: _offset},
            success: function (res) {
                var itemsPerPage = 5;
                $('#ulist').empty();
                console.log(res[0])
                var data = res[0]
                var ul = document.getElementById('ulist');
                for (var i = 0; i < data.length; i++) {
                    // создаем новый li элемент
                    var li = document.createElement('li');
                    li.classList.add("list-group-item");

                    // создаем заголовок и текст для li
                    var h4 = document.createElement('h4');
                    h4.classList.add("list-group-item-heading");
                    h4.textContent = data[i].Title;

                    var p = document.createElement('p');
                    p.classList.add("list-group-item-text");
                    p.textContent = data[i].Description;

                    // создаем кнопки для редактирования и удаления
                    var editButton = document.createElement('button');
                    editButton.classList.add('btn', 'btn-warning', 'btn-edit');
                    editButton.setAttribute('data-id', data[i].Id);
                    editButton.textContent = 'Редактировать';

                    var deleteButton = document.createElement('button');
                    deleteButton.classList.add('btn', 'btn-danger', 'btn-delete');
                    deleteButton.setAttribute('data-id', data[i].Id);
                    deleteButton.textContent = 'Удалить';

                    // добавляем заголовок, текст и кнопки в li
                    li.appendChild(h4);
                    li.appendChild(p);
                    li.appendChild(editButton);
                    li.appendChild(deleteButton);

                    // добавляем li в ul
                    ul.appendChild(li);
                }


                var total = res[1]['total'];
                var pageCount = Math.ceil(total / itemsPerPage);

                $('.pagination').empty();

                var pageStart = $('#hdnStart').val();
                var pageEnd = $('#hdnEnd').val();

                if (pageStart > 5) {
                    var aPrev = $('<a/>').attr('href', '#').attr('aria-label', 'Previous')
                        .append($('<span/>').attr('aria-hidden', 'true').html('&laquo;'));

                    $(aPrev).click(function () {
                        $('#hdnStart').val(Number(pageStart) - 5);
                        $('#hdnEnd').val(Number(pageStart) - 1);
                        GetWishes(Number(pageStart) - 5);
                    });

                    var prevLink = $('<li/>').append(aPrev);
                    $('.pagination').append(prevLink);
                }

                for (var i = Number(pageStart); i <= Number(pageEnd); i++) {
                    if (i > pageCount) {
                        break;
                    }

                    var aPage = $('<a/>').attr('href', '#').text(i);

                    $(aPage).click(function (i) {
                        return function () {
                            GetWishes(i);
                        }
                    }(i));

                    var page = $('<li/>').append(aPage);

                    if (_page === i) {
                        $(page).addClass('active');
                    }

                    $('.pagination').append(page);
                }

                if ((Number(pageStart) + 5) <= pageCount) {
                    var aNext = $('<a/>').attr('href', '#').attr('aria-label', 'Next')
                        .append($('<span/>').attr('aria-hidden', 'true').html('&raquo;'));

                    $(aNext).click(function () {
                        $('#hdnStart').val(Number(pageStart) + 5);
                        $('#hdnEnd').val(Number(pageStart) + 9);
                        GetWishes(Number(pageStart) + 5);
                    });

                    var nextLink = $('<li/>').append(aNext);
                    $('.pagination').append(nextLink);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function ConfirmDelete(elem) {
        localStorage.setItem('deleteId', $(elem).attr('data-id'));
        $('#deleteModal').modal();
    }

    function Delete() {
        $.ajax({
            url: '/deleteWish',
            data: {id: localStorage.getItem('deleteId')},
            type: 'POST',
            success: function (res) {
                var result = JSON.parse(res);
                if (result.status === 'OK') {
                    $('#deleteModal').modal('hide');
                    GetWishes(1);
                } else {
                    alert(result.status);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

    function Edit(elm) {
        var wishId = $(elm).attr('data-id');
        localStorage.setItem('editId', wishId);
        window.location.href = '/editwish?id=' + wishId;
    }

</script>

{% endblock %}
